# Database
DB_HOST=mysql
DB_PORT=3306
DB_NAME=ecommerce
DB_USER=ecommerce
DB_PASS=ecommerce

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

# Application
APP_DEBUG=false
